/* Source: https://gist.github.com/14mRh4X0r/18f723c9cfc89b3ae7bcef0fc8306f22 */
/* invert colors, but keep their hues */
html {
  filter: hue-rotate(180deg) invert(100%);
  background-color: #0f1318;
}

/* invert images and icons back to normal */
img, i, span.emoji, .modal-backdrop, .media_modal_bottom_panel_wrap {
  filter: hue-rotate(180deg) invert(100%);
}

/* .. except the Telegram logo and the emoji category buttons */
i[class^="composer_emoji_tooltip_category_"], i.icon-tg-title, .media_modal_bottom_panel_wrap img {
  filter: none;
}
